---
layout: page
title: Weekly Activities &amp; Notes
description: "Completed with activities and notes."
---
<div class="posts">
{% for post in site.categories 'Notes' %}

    <li class="post-title">{{ post.title }}</li>
{% endfor %}
</div>

<div class="posts">
{% for post in site.post %}

  {% if post.categories contains 'Notes' %}
    <div class="post">
      <h3 class="post-title"><a href="/uni{{ post.url }}">
        {{ post.title }}
      </a></h3>

      <p>{{post.description}}</p>  
    </div>
  {% endif %}
{% endfor %}
</div>
