---
layout: page
title: Teach
---


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="/uni/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>


    <span class="post-date">{{ post.date | date_to_string }}</span> 


    <section class="excerpt">
                <p>{{ post.content | strip_html | truncatewords:40 }}</p>
            </section>
       </div>
  {% endfor %}
</div>


        </div>
    </article>


	{% endfor %}
    <nav class="pagination" role="navigation">
    {% if paginator.previous_page %}
	    {% if paginator.previous_page == 1 %}
	    <a class="newer-posts" href="{{ site.url }}"><i class="fa fa-chevron-left"></i> Newer</a>
	    {% else %}
	    <a class="newer-posts" href="{{ site.url }}/page{{ paginator.previous_page }}"><i class="fa fa-chevron-left"></i> Newer</a>
	    {% endif %}
	{% else %}
    <span class="newer-posts faded"><i class="fa fa-chevron-left"></i> Newer</span>
    {% endif %}


  
